

mixin panelFrame
	.row(class=attributes.class, id=attributes.id)
		.hab-panel.col-md-6.col-md-offset-3
			block


mixin panelRed
	+panelFrame.panel-red
		block


mixin whatdidwemiss
	br
	//-small.text-muted What did we miss?
	.input-group
		input.form-control(type="text", placeholder="What did we miss?")
		span.input-group-btn
			button.btn.btn-default(type="button") Comment

mixin keyPoint(intNumber, strLabel)
	p(style="margin-left: 20px;")
		span.big-number= intNumber
		| &nbsp;
		= strLabel
		
mixin timelineItem
	li
		div.timeline-badge
			i.glyphicon
		div.timeline-panel
			block
			
mixin accordionPanel(strId, strLabel)
	.panel.panel-default
		.panel-heading
			h4.panel-title: a(href="##{strId}", data-toggle="collapse", data-parent="#accordion")= strLabel
		.panel-collapse.collapse(id=strId)
			.panel-body
				block